# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Build / packaging
build/
dist/
*.egg-info/

# Tests & coverage
.pytest_cache/
.ruff_cache/
.coverage*
htmlcov/

# Local secrets
.env

# Project
.references/
